.description_container{
    width: 100%;
    margin: 30px auto; /*margin 30 auto*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
}

.precio_container{
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    color: #433D3D;
}
.datos{
    display: flex;
    gap: 20px;
}

.button_cart{
    margin-top: 20px;
    outline: none;
    border: none;
    background-color: #433D3D;
    color: #d4d4d4;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

#add_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dropdown{
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    border: 2px solid #E33E08;
    color: #433D3D;
    height: 50px;
}

#cantidad{
    outline: none;
    height: 50px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #E33E08;
    color: #433D3D;
    width: 80px;
}


.title{
    font-size: 40px;

}
.desc{
    font-weight: 400;
   
}

.price{
    font-size: 20px;
}

.description{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 50px auto;
    color: #433D3D;
}

.arrow{
    height: 13px;
    margin-left: 20px;
    cursor: pointer;

}

.detail_container{
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #433D3D;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contenedor_seccion1{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagenes_container{
display: flex;
width: 100%;
max-width: 350px;
justify-content: center;
align-items: center;
}

.imagenes_container > img{
    width: 100%;
}

.puntos{
    display: flex;
    justify-content: center;
    align-items: center;

}

.punto{
    height: 8px;
    width: 8px;
    background-color: #433D3D;
    border-radius: 50%;
    margin-top: 20px;
    margin: 10px;
    transition: transform 100ms;
    transition: background-color 100ms;
}


.punto_active{
    transform: scale(1.3);
    background-color: #E33E08;
}

.arrow_icon{
    cursor: pointer;
    transition: transform 100ms;
    display: none;
}

.arrow_icon:hover{
    transform: scale(1.2);
    opacity: 0.9;
}



/*----------RESPONSIVE-------------*/

@media screen and (min-width: 768px){
    .description_container{
        margin: 20px auto;
        width: auto;
        flex-direction: row;
        justify-content: space-around;
    }

    .precio_container{
        margin: 20px;
    }
    #add_cart{
        align-items: flex-start;
    }
    .arrow_icon{
        display: flex;
    }
}